:root{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #FF7978;
}
*{
    margin: 0;
    padding: 0;
}
.font-l{
    font-size: 3.375rem;
   
    color: white;
}
.font-s{
    font-size: 0.875rem;
}
.container{
    display: flex;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr; */
  
}
.box1{
   
    width:50%;
    /* grid-row: 1/1;
    grid-column: 1/2; */
    /* padding: 300px 154px 406px 166px; */
}
.m-x-1{
    padding-top: 18.75rem;
    margin-bottom: 1.63rem;
    margin-left: 4rem;
    padding-left: 3rem;
    margin-right: 3rem;
}
.m-x-2
{
    margin-left: 4rem;
    padding-left: 3rem;
    margin-right: 3rem;
    padding-right: 7rem;
}
.p{
    text-align: left;
    /* padding: 26px 150px 0px 172px; */
    color: white;
    margin-top: 26px;
}
.box2{
    /* grid-row: 1/1;
    grid-column: 2/3;  */
    width:50%;
    /* padding: 136px 166px 0px 0px; */
}
.rec{
    width: 79%;
    height: 57px;
    border: 1px solid #5D55A1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.5em;
    background-color: #5D55A1;
    color: white;
    box-shadow: 0px 3px 6px #00000029;
}
.form{
   width:74%;
    border: 1px solid white;
    border-radius: 10px;
    opacity: 1;
    margin-top: 22px;
    padding-top: 41px;
    padding-left: 41px;
    background-color: white;
}
#name{
    /* padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 245px; */
    width:80%;
    height: 56px;
    border: 1px solid #5C54A1;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 23px;
    padding-left: 2.56em;
}
 #lastname{
    /* padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 245px; */
    width:80%;
    height: 56px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 23px;
    padding-left: 2.56em;
 }
 #email{
    /* padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 245px; */
    width:80%;
    height: 56px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 23px;
    padding-left: 2.56em;
 }
 #password{
    /* padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 245px; */
    width:80%;
    height: 56px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 23px;
    padding-left: 2.56em;
    
 }
 button{
    width: 88%;
    height: 57px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    background-color: #37CC89;
    color: white;
    box-shadow: 0px 3px 6px #00000029;
 }
 .p2{
    text-align: center;
    margin-bottom: 45px;
 }

 @media only screen and (max-width:35em){
   
    body{
     text-align: center;
    }
    .container{
        display: block;
    }
    .box1{
        width:100%
    }
    .box2{
        width:100%
    }
 }
 