*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.box{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 200px;
    margin: 10px 0px 10px 0px;
}