*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 20%;
    font-size: x-large;
}
.time{
    display: flex;
    gap: 20px;
    color: white;
}
.buttons{
    display: flex;
    gap: 50px;
    margin-top: 15px;
}
.start{
    height: 23px;
    width: 60px;
    border-radius: 20px;
    border: 1px solid white;
}
.pause{
    height: 23px;
    width: 60px;
    border-radius: 20px;
    border: 1px solid white;
}
.stop{
    height: 23px;
    width: 60px;
    border-radius: 20px;
    border: 1px solid white;
}
.start:hover{
    background-color: lightgreen;
}
.pause:hover{
    background-color: yellow;
}
.stop:hover{
    background-color: red;
}