
:root{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.text1{
    top: 59px;
    margin-left: auto;
    margin-right: auto;
    width: 422px;
    height: 40px;
    text-align: left;
    font: normal normal normal 33px/40px Montserrat;
    letter-spacing: 0px;
    color: #BEBEC0;
    opacity: 1;
}
.text2{
    top: 167px;
    margin-left: auto;
    margin-right: auto;
    width: 415px;
    height: 40px;
    text-align: left;
    font: normal normal bold 33px/40px Montserrat;
    letter-spacing: 0px;
    color: #464451;
    opacity: 1;
}
.para1{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 474px;
    height: 39px;
    text-align: center;
    font: normal normal 600 13px/21px Open Sans;
    letter-spacing: 0px;
    color: #ABABAD;
    opacity: 1;
}
.card {
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 329px;
    height: 239px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    transition:0.3s;
    border-top: 4px solid red;
    box-shadow: 0px 3px 6px #EB6875;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .cardpara1{
    top: 508px;
    left: 49px;
    width: 189px;
    height: 33px;
    text-align: left;
    font: normal normal 600 11px/18px Open Sans;
    letter-spacing: 0px;
    color: #ABABAD;
    opacity: 1;
  }
  .card1 {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 329px;
    height: 239px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border-top: 4px solid #EAC357;
    box-shadow: 0px 3px 6px #EAC357;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container1{
    padding: 2px 16px;
  }
  .cardpara2{
    top: 508px;
    left: 49px;
    width: 189px;
    height: 33px;
    text-align: left;
    font: normal normal 600 11px/18px Open Sans;
    letter-spacing: 0px;
    color: #ABABAD;
    opacity: 1;
  }
  .card2 {
    margin-top: -350px;
    margin-left: 635px;
    margin-right: auto;
    width: 328px;
    height: 240px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    border-top: 4px solid #5FD5CD;
    box-shadow: 0px 3px 6px #5FD5CD;
  }
  
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container2{
    padding: 2px 16px;
  }
  .cardpara3{
    top: 508px;
    left: 49px;
    width: 189px;
    height: 33px;
    text-align: left;
    font: normal normal 600 11px/18px Open Sans;
    letter-spacing: 0px;
    color: #ABABAD;
    opacity: 1;
  }
  .card3 {
    margin-top: -255px;
    margin-left: 1340px;
    margin-right: auto;
    width: 328px;
    height: 240px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0px 3px 6px #199FB2;
    border-top: 4px solid #199FB2;
  }
  
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container3{
    padding: 2px 16px;
  }
  .cardpara4{
    top: 508px;
    left: 49px;
    width: 189px;
    height: 33px;
    text-align: left;
    font: normal normal 600 11px/18px Open Sans;
    letter-spacing: 0px;
    color: #ABABAD;
    opacity: 1;
  }
  .hc1{
    top: 476px;
    left: 49px;
    width: 111px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #464451;
    opacity: 1;
  }
  .hc2{
    top: 722px;
    left: 49px;
    width: 58px;
    height: 20px;
    text-align: left;
    font: normal normal bold 17px/20px Montserrat;
    letter-spacing: 0px;
    color: #464451;
    opacity: 1;
    }
    .hc3{
        top: 722px;
        left: 49px;
        width: 58px;
        height: 20px;
        text-align: left;
        font: normal normal bold 17px/20px Montserrat;
        letter-spacing: 0px;
        color: #464451;
        opacity: 1;
    }
    .hc4{
        top: 722px;
        left: 49px;
        width: 58px;
        height: 20px;
        text-align: left;
        font: normal normal bold 17px/20px Montserrat;
        letter-spacing: 0px;
        color: #464451;
        opacity: 1;
    }
    img {
      width: 48px;
      height: 24px;
      position: relative;
      left: 15em;
      top: 4em;
    }