  #parent{
    display: flex;
  }
  h1{
    top: 51px;
    left: 89px;
    width: 415px;
    height: 57px;
/* UI Properties */
    text-align: left;
    font: normal normal bold 42px/57px Open Sans;
    letter-spacing: 0px;
    color: #4CA399;
    opacity: 1;
    padding-left: 50px;
  }
.sec1 h3{
    top: 153px;
left: 86px;
width: 652px;
height: 43px;
text-align: left;
font: normal normal 600 32px/43px Open Sans;
letter-spacing: 0px;
color: #C1DE2F;
opacity: 1;
padding-left: 50px;
  }
  .sec1 p{
    top: 232px;
left: 86px;
width: 767px;
height: 73px;
text-align: left;
font: normal normal normal 24px/40px Open Sans;
letter-spacing: 0px;
color: #ABABAD;
opacity: 1;
padding-left: 50px;
  }
.p1{
    top: 373px;
left: 0px;
width: 740px;
height: 459px;
background: #2BB3B1 0% 0% no-repeat padding-box;
opacity: 1;
}
.p2{
    /* Layout Properties */
top: 373px;
left: 740px;
width: 740px;
height: 459px;
/* UI Properties */
background: #4ABEBD 0% 0% no-repeat padding-box;
opacity: 1;
}
.p1 h3{
    /* Layout Properties */
top: 419px;
left: 89px;
width: 371px;
height: 49px;
/* UI Properties */
text-align: left;
font: normal normal 600 36px/49px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding-left: 50px;
}
.para1{
    top: 485px;
left: 89px;
width: 290px;
height: 97px;
/* UI Properties */
text-align: left;
letter-spacing: NaNpx;
opacity: 1;
}
.para2{
    top: 596px;
left: 86px;
width: 423px;
height: 38px;
text-align: left;
font: normal normal normal 28px/38px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding-left: 50px;
}
button{
  background: #bfdf32 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  height: 73px;
  width: 50%;
  margin: 2em 3.5em 0;
}
span {
  text-align: left;
  font: normal normal 600 28px/38px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.p2 h3{
    /* Layout Properties */
top: 416px;
left: 788px;
width: 130px;
height: 49px;
/* UI Properties */
text-align: left;
font: normal normal 600 36px/49px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding-left: 50px;
}
.p2 p{
    /* Layout Properties */
top: 503px;
left: 788px;
width: 344px;
height: 273px;
/* UI Properties */
text-align: left;
font: normal normal normal 24px/40px Open Sans;
letter-spacing: 0px;
color: #FAFAFA;
opacity: 1;
padding-left: 50px;
}
.para1{
  text-align: center;
      letter-spacing: NaNpx;
      opacity: 1;
      margin: 2.5em 5.05em 0 7.4em;
      width: 32.77%;
      height: 15.6%;
}
.para3{
    top: 0px;
left: 131px;
width: 159px;
height: 97px;
/* UI Properties */
text-align: left;
font: normal normal normal 32px/43px Open Sans;
letter-spacing: 0px;
color: #E6E6E6;
}
#pseudo{
  top: 0px;
left: 0px;
width: 113px;
height: 97px;
/* UI Properties */
text-align: left;
font: normal normal 900 70px/43px Avenir;
letter-spacing: 0px;
color: #FFFFFF;
}
#parastyle{
  padding-left: 5px;
  color: white;
}
span{
  top: 0px;
left: 131px;
width: 159px;
height: 97px;
/* UI Properties */
text-align: left;
font: normal normal normal 32px/43px Open Sans;
letter-spacing: 0px;
color: #E6E6E6;
}