@media screen and (max-width:1241px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background: transparent linear-gradient(156deg, #FCF3F3 0%, #FFFFFF 49%, #FAF1F0 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .head{
        padding: 31px 27px;
        display: inline-flex;
        gap: 10px;
    }
    .elipse{
        top: 31px;
        left: 27px;
        width: 29px;
        height: 29px;
        border: 2px solid #E7A09E;
        opacity: 1;
        border-radius: 50%;
    }
    .h3-base{
        height: 19px;
        width: 44px;
    }
    .h3-apparel{
        width: 86px;
        height: 20px;
        margin-top: 10%;
        margin-left: -30%;
    }
    .img{
        width: 100%;
        height: 29.8em;
    }
    .bottom .h1{
        text-align: center;
        font: normal normal 300 40px/57px Avenir;
        letter-spacing: 12px;
        color: #D2A1A2;
        opacity: 1;
    }
    .bottom .h2{
        text-align: center;
        font: normal normal 300 40px/57px Avenir;
        letter-spacing: 12px;
        color: #393334;
        opacity: 1;
    }
    .bottom p{
        text-align: center;
        font: normal normal 600 12px/20px Open Sans;
        letter-spacing: 0px;
        color: #9A6B69;
        opacity: 1;
        padding: 18px 15px;
    }
    form{
        padding: 29px 27px;
    }
    #email{
        width: 302px;
        height: 50px;
        border: 1px solid #9A6B69;
        border-radius: 29px;
        opacity: 1;
        text-align: left;
        padding: 0 0 0 10%;
    }
}
